/* ======= App-wide ======= */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Reg.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Sbold.otf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Xbold.otf');
  font-style: normal;
  font-weight: 900;
}

#finder {
  height: 100%;
  width: 100%;
}

.content-container {
  margin: 0 auto;
  width: 60%;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* ======= Header ======= */

header {
  background-color: #1c2333;
  color: #fff;
  padding: 4em 0;
  width: 100%;
}

header h1 {
  border-bottom: 1px solid #fff;
  font-size: 3em;
  font-weight: 900;
  padding-bottom: 0.5em;
}

header h1, h3, h5 {
  margin: 0;
}

header h3, h5 {
  display: inline-block;
  margin-top: 1em;
}

header h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 2em;
}

header h5 {
  font-weight: 400;
}

/* ======= Input & Map ======= */

.input-container {
  margin: 4em 0 2em;
  width: 100%;
}

.input-container input, button {
  display: inline-block;
  height: 2.5em;
}

.input-container input {
  border: 1px solid #c3c3c3;
  padding: 0.5em 1em;
  width: 80%;
}

.input-container button {
  background-color: #479eff;
  border: 0;
  color: #fff;
  float: right;
  font-weight: 600;
  text-transform: uppercase;
  width: 18%;
}

#map {
  height: 500px;
  margin: 0 auto 6em;
  width: 100%;
}

/* ======= Results ======= */

.results-container {
  background-color: #f9f9f9;
}

/* Prevents padding from displaying pre-search */
.results-container li:first-child{
  padding-top: 4em;
}

.results-container .icon img {
  height: 20px;
  width: 20px;
}
