<div>
  <header>
    <h1>Google Places Search</h1>
  </header>
  <div class="input-container">
    <h3>Search for a place</h3>
    <h5>Try: "Cafes in San Francisco," "Bars near 16th and Guerrero," or "Zenefits"</h5>
    <form>
      <input id="place-input" type="text" ng-model="place" placeholder="Search for a place">
      <button type="submit" ng-click="submit()">Search</button>
    </form>
  </div>
  <div id="map"></div>
  <ul>
    <li ng-repeat="result in results">
      <div class="name">{{ result.name }}</div>
      <div class="address">{{ result.formatted_address }}</div>
      <div class="rating">{{ result.rating }}</div>
    </li>
  </ul>
  <div id="places"></div>
  <!-- <button class="more">More</button> -->
</div>
