<div id="finder">
  <header>
    <div class="content-container">
      <h1>Google Places Search</h1>
      <h3>Search for a place</h3>
      <h5>Try: "Cafes in San Francisco," "Bars near 16th and Guerrero," or "Zenefits"</h5>
    </div>
  </header>
  <div class="content-container">
    <div class="input-container">
      <form>
        <input id="place-input" type="text" ng-model="place" placeholder="Search for a place">
        <button type="submit" ng-click="submit()">Search</button>
      </form>
    </div>
    <div id="map"></div>
  </div>
    <div class="results-container">
      <div class="content-container">
      <ul>
        <li ng-repeat="result in results track by $index">
          <div class="info">
            <div class="name">{{ result.name }}</div>
            <span class="type">{{ result.type }}</span>
            <span class="bullet">&bull;</span>
            <span class="rating">{{ result.rating }}</span>
            <span class="stars">{{ result.stars }}</span>
            <div class="address">{{ result.formatted_address }}</div>
          </div>
          <span class="count">{{ result.count }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
